html,body{
    width: 100%;
    height:100%;
    padding: 0;
    margin:0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height:0.8rem;
    background: #D03020;
    position: relative;
}
.photo{
    width: 0.6rem;
    height:0.6rem;
    border-radius: 50%;
    position: absolute;
    left: 0.3rem;
    top:0.1rem;
    background: url("../img/648-161024115227-50.jpg")no-repeat;
    background-size:100% 100% ;
}
.logo{
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.8rem;
}
header .iconfont{
    position: absolute;
    right:0.3rem;
    top:0.2rem;
    font-size: 0.4rem;
    color: #fff;

}
.list{
    width: 50%;
    height:1.65rem;
    box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;

    text-align: center;
    font-size: 0.7rem;
    line-height: 1.7rem;
    float: left;
}
.list a{
    color: #fff;
    text-decoration: none;
}
.list:nth-child(2){
     background: #eee;
 }
.list:nth-child(3){
    background: #ddd;
    border-right:none;

}
.list:nth-child(4){
    background: #ccc;
}
.list:nth-child(5){
    background: #bbb;
    border-right:none;

}
.list:nth-child(6){
    background: #aaa;
}
.list:nth-child(7){
    background: #999;
    border-right:none;

}
.list:nth-child(8){
    background: #888;
}
.list:nth-child(9){
    background: #777;
    border-right:none;

}